<h2 id="welcom">Калькулятор рейтингу </h2>

<div id="main_conteiner">
     
      <p> Назва дисципліни: 
      <select>
     <option *ngFor='let lesen of lesens'>  {{lesen}} </option>
      </select>
      </p>
       <p> Кількість балів: 
      <input [(ngModel)]="scores1" (ngModelChange)="scores1 = $event"/>
      </p>
      <p> Коефіціент: 
     <input [(ngModel)]='modulus1' (ngModelChange)="modulus1 = $event"/>
     </p>
      <br>
      <br>
      <button (click)="startClick1()">
        Очистити
      </button>
      <br>
      <hr>
        <p> Назва дисципліни: 
      <select>
     <option *ngFor='let lesen of lesens'>  {{lesen}} </option>
      </select>
      </p>
       <p> Кількість балів: 
      <input [(ngModel)]="scores2" (ngModelChange)="scores2 = $event"/>
      </p>
      <p> Коефіціент: 
      <input [(ngModel)]="modulus2" (ngModelChange)="modulus2 = $event"/>
      </p>
      <br>
      <br>
      <button (click)="startClick2()">
        Очистити
      </button>
       <br>
       <hr>    
        <p> Назва дисципліни: 
      <select>
     <option *ngFor='let lesen of lesens'>  {{lesen}} </option>
      </select>
      </p>
       <p> Кількість балів: 
      <input [(ngModel)]="scores3" (ngModelChange)="scores3 = $event" />
      </p>
      <p> Коефіціент: 
      <input [(ngModel)]="modulus3" (ngModelChange)="modulus3 = $event"/>
      </p>
      <br>
      
      <button (click)="startClick3()">
        Очистити
      </button>
      <br>
       <hr> 
       
       <p> Рейтинг: {{evalRating()}} Балів</p>
      
       <br>
       <br>
       Наявність степендії:
        <p *ngIf="result < 55" id="red"> Ні</p>
        <p *ngIf="result > 55" id="green"> Так</p>
        
<br>
</div>





